nav {
    width: 100%;
    max-width: 240px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid var(--b-3);
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        padding: 8px;
        max-width: auto;
        background-color: var(--b-1);
        width: calc(100vw) !important;
        max-width: none;
        min-height: 100vh;
        transition-duration: 300ms;
        transition: all;
        left: -100%;
        z-index: 998;
    }

    .dark nav {
        background-color: var(--b-2);
    }

    nav.open {
        left: 0;
    }

    #nav-toggler {
        display: block !important;
    }
}

.dark nav {
    border-right: 0;
    background-color: var(--b-2);
}

 .full-logo {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.logo {
    padding: 8px 6px;
    height: auto;
    width: fit-content;
    background-color: #93C5FD;
    border: 1px dashed #2563EB;
}

.logo span {
    color: #2563EB;
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
}

nav.collapsed .logo {
    width: 100%;
}

nav.collapsed .full-logo {
   padding: 1rem 0;
}

nav .nav-list {
    display: flex;
    gap: 8px; 
    width: 100%;
    flex-direction: column;
}

nav .nav-list .nav-item{
    width: 100%;
}

nav .nav-list .nav-item .nav-link{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    border-radius: 2px;
}



nav .nav-list .nav-item .nav-link.active {
    background-color: var(--secondary);
}

.dark nav .nav-list .nav-item .nav-link.active svg path {
    stroke: #fff;
}

nav .nav-list .nav-item .nav-link svg {
    width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        flex-shrink: 0;
}

nav .nav-list .nav-item .nav-link.active svg {
    stroke: var(--primary);
    fill: var(--primary);
    
}

nav .nav-list span {
    font-size: 14px;
    line-height: 20px;
}

nav .nav-link:hover {
    background-color: var(--b-3);
    cursor: pointer;
}

/* COLLAPSED NAV STYLES */

nav.collapsed {
    width: 4rem;
    /* transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: all;
    transform-origin: left; */
    padding: 0.5rem 1rem;
    padding-right: 0.75rem;
}

nav.collapsed .nav-link svg path {
    stroke: var(--neutral);
}

nav.collapsed span {
    display: none;
}

nav.collapsed .theme-switcher{
    display: none;
}

nav.collapsed .tip {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1px;
    width: 6px;
    height: 6px;
    color: var(--error);
    border-radius: 50%;
}

nav.collapsed .nav-list .nav-item .nav-link svg path {
    stroke: #64748B;
}

nav.collapsed .nav-link {
   justify-content: center;
}

nav.collapsed .profile-info {
    padding-right: 8px;
    display: flex;
    justify-content: center;
}

nav.collapsed .full-logo {
    justify-content: center;
}

nav.collapsed .logo {
    width: 32px;
    height: 32px;
    padding: 0;
}

nav.collapsed #collapse-btn svg {
    -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

.dark nav #collapse-btn svg path {
    stroke: #fff;
}

#nav-toggler{
    display: none;
}

.nav-toggle svg {
    stroke: #64748B;
}

/* PROFILE INFO */

.profile-info {
    display: grid;
    padding: 8px 16px 8px 8px;
    column-gap: 8px;
    row-gap: 0px;
    align-items: center;
    grid-template-columns: 32px auto;
    grid-template-rows: min-content min-content;
}

.profile-info svg {
    grid-row: 1/3;
    width: 32px;
    height: 32px;
}

.profile-info span:first-child{
    grid-column: 2/3;
    grid-row: 1/2;
}

.profile-info span:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 12px;
    line-height: 16px;
    color: #64748B;
}

.dark .profile-info span:last-child { 
    color: #fff;
}

/* THEME SWITCHER */
.theme-switcher {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.theme-switcher .theme-toggler {
    width: 1.5rem;
    height: 1rem;
    background-color: var(--b-3);
    border-radius: 100px;
    padding: 2px;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    position: relative;
}

.theme-switcher .theme-toggler .lever {
    background-color: var(--b-1);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 2px;
}

.dark .theme-switcher .theme-toggler .lever { 
    left: auto;
    right: 2px;
}

/* NOTIFICATION TIP */
.tip{
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-color: var(--error);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    line-height: 16px;
    border-radius: 50%;
}